.form-control {
  margin-bottom: 3px;
}

.form-group {
  margin-bottom: 0.7rem;
}

#job_description {
  color: black;
}

.addRow_button {
  width: 30px;
  height: 30px;
  left: 15px;
  top: -3px;
}
.plus_sign_action {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: none;
  text-align: center;
}
